# .gitignore
.env
__pycache__/
*.pyc
last_state.json
makefile
items.txt
import_items.py
items2.txt
albion_localizations
import_data.py
venv
items.xml
import_localizations.py
items.json
generate_enchanted_items.py
items2.json
import_items_details.py
import_items_base.py
create_items_schema.sql